/* BODY Section */
body{
     height: 100%;
     position: relative;
     background-image: url(../Image/vector-left.svg), url(../Image/vector-right.svg);
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: -250px 150px, 200px 370px;
}

/* HEADER Section */
body header{
     text-align: center;
     padding: 10px 0px 20px 0px;
     box-shadow: 0px 5px 5px #25252545;
     background-color: #ffe015;
}

/* HEADER Section | Logo */
body header .container .container-logo .header-logo .logo img{
     margin-top: 10px;
}

body header .container .container-logo .header-logo .logo figcaption{
     display: none;
}

/* HEADER Section | Menu */
body header .container .menu .header-menu ul{
     display: flex;
     justify-content: center;
}

body header .container .menu .header-menu ul li{
     font-family: 'Baloo Tamma 2', sans-serif;
     margin: 5px 10px 0px 10px;
     cursor: pointer;
}

/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */

/* MAIN Section */
/* MAIN | Images */
body main .container .cup{
     display: none;
}

body main .vector{
     position: absolute;
     height: 300px;
     z-index: -1;
}

body main .vector.vector-left{
     top: 150px; left: -40%;
}

body main .vector.vector-right{
     top: 375px; left: 60%;
}

/* MAIN | Content */
body main section{
     width: 250px;
     margin: auto;
}

body main section .container h2{
     color: #646464;
     font-family: 'Baloo Tamma 2', sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     margin-top: 150px;
     margin-bottom: 75px;
     text-align: center;
}

body main section .container button{
     height: 50px;
     width: 260px;
     padding: 15px;

     color: #FFFFFF;
     font-family: 'Baloo Tamma 2', sans-serif;
     font-size: 15px;
     font-weight: 700;

     cursor: pointer;
     border: none;
     border-radius: 10px;
     background-color: #d4bd25;
}

/* MAIN | Social Media */
body main section .container .social-media{
     display: flex;
     justify-content: center;
}

body main section .container .social-media a{
     
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 25px;
     text-decoration: none;
     color: #000000;
     display: block;
     text-align: center;
     max-width: 110px;
     margin: 0 auto;
     position: relative;
}

body main section .container .social-media li .fab{
     color: #d4bd25;
     font-size: 30px;
     margin: 200px 5px 0px 5px;
}